html, body, form, input, textarea, .tab .tab-head-item { background-color: white; }
#siteMenuCr { background-color: orange; }
  #pageHeadCr, button, input[type=button], .button, .itemTitleCr, .tab div.tab-head-item-current, .contextMenu { background-color: rgb(53, 241, 16); }
button, .button, .tab div.tab-head-item-current { color: white; }
  button:hover, button:focus, .button:hover, .button:focus { color: yellow; }
html, body, form, input, textarea, input:hover, input:focus, textarea:hover, textarea:focus ,#pageTitleCr, #pageFootCr, .section-title, .sub-section-title, .tab .tab-head-item { color: rgb(53, 241, 16); }
a { color: green; }
  a:hover, a:focus { color: darkgreen; }
#siteMenuCr{border-color:orangered;}
#pageFootCr, input, textarea, button, .button, input:hover, input:focus, textarea:hover, textarea:focus, button:hover, button:focus, .button:hover, .button:focus, .sub-section-item, .border, .menu .menu-item-current, .tab .tab-content, .tab div.tab-head-item-current, .tab div.tab-head-item { border-color: rgb(53, 241, 16); }
.errors { color: red; }



.menu .menu-item { border-color: transparent; }